@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.nav {
  width: 100%;
  height: 60px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  --menu-mostrar: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --opacidad-abrir: 1;
  --puntero-abrir: unset;
  --opacidad-cerrar: 0;
  --puntero-cerrar: none;
}
.nav:has(:checked) {
  --menu-mostrar: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --opacidad-abrir: 0;
  --puntero-abrir: none;
  --opacidad-cerrar: 1;
  --puntero-cerrar: unset;
}
.nav__menu {
  width: 100%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 60px;
  left: 0;
  color: rgb(82, 84, 86);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  clip-path: var(--menu-mostrar);
  transition: clip-path 0.5s;
}
.nav__menu .nav__item {
  list-style: none;
  font-size: 2.2rem;
  cursor: pointer;
  height: 50px;
  transition: all 0.3s ease;
}
.nav__menu .nav__item:hover {
  text-decoration: underline;
  color: #ADD6D2;
}
.nav__menu .nav__item-touch {
  background-color: #EAA4A4;
  color: #F7F9FF;
  border-radius: 3rem;
  padding: 1rem 2rem;
}
.nav__menu .nav__item-touch:hover {
  background-color: #ADD6D2;
  text-decoration: none;
  color: #F7F9FF;
}
.nav .nav__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.nav .nav__icons .nav__label {
  z-index: 100;
  transition: 0.4s opacity;
  position: absolute;
}
.nav .nav__icons .nav__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav .nav__icons .nav__label--open {
  opacity: var(--opacidad-abrir);
  pointer-events: var(--puntero-abrir);
}
.nav .nav__icons .nav__label--close {
  opacity: var(--opacidad-cerrar);
  pointer-events: var(--puntero-cerrar);
}

input[type=checkbox] {
  display: none;
}

.hero {
  width: 100%;
  height: 635px;
  background: url("../img/hero-background.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__info {
  width: 90%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.hero__info .hero__slogan {
  font-size: 1.8rem;
  color: #00113E;
  font-weight: 300;
}
.hero__info .hero__title {
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
  color: #00113E;
  margin-bottom: 7rem;
}
.hero__info .hero__cta {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 600px) {
  .hero__info .hero__cta {
    flex-direction: row;
  }
}
.hero__info .hero__cta .cta {
  padding: 17px 40px;
  background-color: #EAA4A4;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.hero__info .hero__cta .cta:hover {
  color: #00113E;
  background-color: #fff;
}
.hero__info .hero__cta .cta-left {
  background-color: #ADD6D2;
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
.content .stadistic {
  background-color: #ADD6D2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  color: #fff;
}
.content .stadistic__title {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5rem;
  text-align: center;
}
.content .stadistic .stadistic__content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.content .stadistic .stadistic__content .stadistic__qualification {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .stadistic .stadistic__content .stadistic__qualification .stadistic__category {
  font-size: 20px;
  font-weight: 300;
}
.content .stadistic .stadistic__content .stadistic__qualification .stadistic__score {
  font-size: 6rem;
  font-weight: 700;
}
.content .projects {
  background-color: #fff;
  width: 100%;
  margin: 5rem auto;
}
.content .projects__title {
  font-size: 4rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content .projects__subtitle {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
.content .projects__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;
}
.content .projects__content .project {
  width: 100%;
  max-width: 570px;
  position: relative;
}
.content .projects__content .project:hover {
  box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.01), 0px 30px 45px 0px rgba(0, 0, 0, 0.02), 0px 30px 45px 0px rgba(0, 0, 0, 0.03), 0px 30px 45px 0px rgba(0, 0, 0, 0.04);
}
.content .projects__content .project__img {
  width: 100%;
}
.content .projects__content .project__img .project__productImg {
  width: 100%;
}
.content .projects__content .project__info {
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: 0;
  background-color: #F7F9FF;
  padding: 50px;
  transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
}
.content .projects__content .project__info:hover {
  background-color: #ADD6D2;
  padding-bottom: 150px;
  color: #fff;
}
.content .projects__content .project__info:hover .project__product {
  color: #00113E;
}
.content .projects__content .project__info:hover .project__view {
  color: #00113E;
}
.content .projects__content .project__info .project__product {
  font-family: "Montserrat", sans-serif;
  color: #EAA4A4;
  display: block;
  margin-bottom: 10px;
}
.content .projects__content .project__info .project__name {
  font-size: 3rem;
}
.content .projects__content .project__info .project__view {
  color: #9D9EA5;
  font-size: 1.2rem;
}
.content .opinion {
  background-color: #F7F9FF;
  padding: 100px 0;
  text-align: center;
}
.content .opinion__title {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.content .opinion__info {
  font-size: 2rem;
  font-weight: 300;
  color: #9D9EA5;
  margin-bottom: 7rem;
}
.content .opinion__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.content .opinion__cards .opinion__card {
  width: 100%;
  max-width: 330px;
  background-color: #fff;
  padding: 3rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.content .opinion__cards .opinion__card .opinion__user {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.content .opinion__cards .opinion__card .opinion__user .opinion__userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.content .opinion__cards .opinion__card .opinion__user .opinion__userInfo .opinion__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #00113E;
}
.content .opinion__cards .opinion__card .opinion__user .opinion__userInfo .opinion__post {
  color: #646569;
  font-size: 1.6rem;
}
.content .opinion__cards .opinion__card .opinion__comment {
  font-size: 1.6rem;
  color: #9D9EA5;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}
.content .opinion__cards .opinion__card:hover {
  box-shadow: 0 30px 45px 0 rgba(0, 0, 0, 0.05);
}
.content .opinion__cards .active {
  background-color: rgb(237, 237, 237);
  transform: scale3d(1.05, 1.05, 1.05);
  box-shadow: 0 30px 45px 0 rgba(0, 17, 62, 0.8);
}
.content .work {
  background: url("../img/cta-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.content .work__title {
  width: 100%;
  max-width: 690px;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  color: #00113E;
}
.content .work__btns {
  display: flex;
  gap: 2rem;
}
.content .work__btns .work__btn {
  padding: 17px 40px;
  background-color: #EAA4A4;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.content .work__btns .work__btn:hover {
  color: #00113E;
  background-color: #fff;
}
.content .work__btns .work__btn:hover {
  border: 1px solid #00113E;
}
.content .work__btns .work__btn-N {
  background-color: #ADD6D2;
}

/*# sourceMappingURL=style.css.map */
