@use 'variables' as v;
@use 'mixins' as m;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
.nav{
  width: 100%;
  height: 60px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  --menu-mostrar: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --opacidad-abrir: 1;
  --puntero-abrir: unset;
  --opacidad-cerrar: 0;
  --puntero-cerrar: none;
  &:has(:checked) {
    --menu-mostrar: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  
    --opacidad-abrir: 0;
    --puntero-abrir: none;
  
    --opacidad-cerrar: 1;
    --puntero-cerrar: unset;
  }
  
  &__menu{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 60px;
    left: 0;
    color: rgb(82, 84, 86);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;    
    clip-path: var(--menu-mostrar);
    transition: clip-path 0.5s;
    .nav__item{
      list-style: none;
      font-size: 2.2rem;
      cursor: pointer;
      height: 50px;
      transition: all .3s ease;
      &:hover{
        text-decoration: underline;
        color: #ADD6D2;
      }
    }
    .nav__item-touch{
      background-color: #EAA4A4;
      color: #F7F9FF;
      border-radius: 3rem;
      padding:1rem 2rem;
      &:hover{
        background-color: #ADD6D2;
        text-decoration: none;
        color: #F7F9FF;
      }
    }
  }
  .nav__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .nav__label {
      z-index: 100;
      transition: 0.4s opacity;
      position: absolute;
    }
    .nav__icon {
      width: 30px;
      height: 30px;
      cursor: pointer;  
    }
    .nav__label--open {
      opacity: var(--opacidad-abrir);
      pointer-events: var(--puntero-abrir);
    }
    
    .nav__label--close {
      opacity: var(--opacidad-cerrar);
      pointer-events: var(--puntero-cerrar);
    }
  }
}
input[type="checkbox"] {
    display: none;
}
.hero{
  width: 100%;
  height: 635px;
  background: url('../img/hero-background.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__info{
    width: 90%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    .hero__slogan{
      font-size: 1.8rem;
      color: #00113E;
      font-weight: 300
    }
    .hero__title{
      font-size: 3.5rem;
      line-height: 1.5;
      text-align: center;
      font-weight: 600;
      color: #00113E;
      margin-bottom: 7rem
    }
    .hero__cta{
      display: flex;
      flex-direction: column;
      gap: 3rem;
      @media(min-width:600px){
        flex-direction: row;
      }
      .cta{
        @include m.cta;
      }
      .cta-left{
        background-color: #ADD6D2;
        
      }
    }
  }
}
.content{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  .stadistic{
    background-color: #ADD6D2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    color: #fff;
    &__title{
      font-size: 4rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 5rem;
      text-align: center;
    }
    .stadistic__content{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      .stadistic__qualification{
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .stadistic__category{
          font-size: 20px;
          font-weight: 300;
        }
        .stadistic__score{
          font-size: 6rem;
          font-weight: 700;
        }
      }
    }
  }
  .projects{
    background-color: #fff;
    width: 100%;
    margin: 5rem auto;
    &__title{
      font-size: 4rem;
      text-align: center;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &__subtitle{
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
    }
    &__content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin: 5rem 0;
      .project{
        width: 100%;
        max-width: 570px;
        position: relative;
        &:hover{
          box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.01), 0px 30px 45px 0px rgba(0, 0, 0, 0.02), 0px 30px 45px 0px rgba(0, 0, 0, 0.03), 0px 30px 45px 0px rgba(0, 0, 0, 0.04);
        }
        &__img{
          width: 100%;
          .project__productImg{
            width: 100%;
          }
        }
        &__info{
          position: absolute;
          width: 100%;
          height: 180px;
          bottom: 0;
          background-color: #F7F9FF;
          padding: 50px;
          transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
          &:hover{
            background-color: #ADD6D2;
            padding-bottom: 150px;
            color: #fff;
            .project__product{
              color: #00113E;
            }
            .project__view{
              color: #00113E;
            }
          }
          .project__product{
            font-family: "Montserrat", sans-serif;
            color: #EAA4A4;
            display: block;
            margin-bottom: 10px;
          }
          .project__name{
            font-size: 3rem;
          }
          .project__view{
            color: #9D9EA5;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .opinion{
    background-color: #F7F9FF;
    padding: 100px 0;
    text-align: center;
    &__title{
      font-size: 4rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
    }
    &__info{
      font-size: 2rem;
      font-weight: 300;
      color: #9D9EA5;
      margin-bottom: 7rem;
    }
    &__cards{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      .opinion__card{
        width: 100%;
        max-width: 330px;
        background-color: #fff;
        padding: 3rem;
        transition: all .3s ease-in;
        cursor: pointer;
        .opinion__user{
          display: flex;
          gap: 1rem;
          align-items: center;
          margin-bottom: 1.5rem;
          .opinion__userInfo{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: .5rem;
            .opinion__name{
              font-family: "Montserrat", sans-serif;
              font-weight: 600;
              font-size: 1.8rem;
              color: #00113E;
            }
            .opinion__post{
              color: #646569;
              font-size: 1.6rem;
            }
          }
        }
        .opinion__comment{
          font-size: 1.6rem;
          color: #9D9EA5;
          font-weight: 300;
          line-height: 1.5;
          text-align: left;
        }
        &:hover{
          box-shadow: 0 30px 45px 0 rgba($color: #000000, $alpha: 0.05);
        }
      }
      .active{
        background-color: rgb(237, 237, 237);
        transform: scale3d(1.05,1.05,1.05);
        box-shadow: 0 30px 45px 0 rgba($color: #00113E, $alpha: 0.8);
      }
    }
  }
  .work{
    background: url('../img/cta-background.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    &__title{
      width: 100%;
      max-width: 690px;
      text-align: center;
      font-size: 50px;
      letter-spacing: 5px;
      color: #00113E;
    }
    &__btns{
      display: flex;
      gap: 2rem;
      .work__btn{
        @include m.cta;
        &:hover{
          border: 1px solid #00113E;
        }
      }
      .work__btn-N{
        background-color: #ADD6D2;
      }
    }
  }
}